@media screen and (max-width: 425px){
    .catalog .catalog__tabs{
        flex-direction: column;
    }
    .catalog .catalog__tab{
        margin: 10px 30px;
    }
    .catalog .catalog__menu{
        margin-top: 0;
    }
}