/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@import "anim.css";
@import "finalOrders.css";

* {
    font-family: 'Raleway', sans-serif;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: 0;
    
    -webkit-tap-highlight-color: transparent; /*убрать подсветку при тапе*/
}

.start{
    padding: 30vh 20px;
    position: fixed;
    z-index: 10;

    width: 100%;
    height: 100vh;

    background-color: white;
}

.start .start__title{
    margin-bottom: 50px;
    color: black;
    text-align: center;
    font-size: 50px;
    font-weight: 100;
}
.start .start__form{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-weight: 100;
}
.start .start__form [name = "table"]{
    margin-bottom: 50px;

    text-align: center;
    font-size: 50px;
    font-weight: 100;
    
    border: 0;
    border-bottom: 1px solid #000;
    background-color: rgba(0,0,0,0);
    outline: 0;  
}
.start .start__submitBtn{
    outline: none;
    border: none;
    background-color: #212121;
 
    display: block;
    margin: 0 auto;
    
    width: 30vh;
    height: 40px;

    text-align: center;
    color: white;
    font-weight: 100;
    font-size: 30px;
}
.header{
    padding: 3px;
    position: -webkit-sticky;
    position: sticky;
    z-index: 1;
    top: 0;

    width: 100%;
    min-height: 36px;

    background-color: white;
}
.header .header__wrapper{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.header .header__loginBtn{
    padding: 3px;
    background-color: whitesmoke;
    outline: none;
    width: 30px;
    height: 30px;
    border: 0;
    border-radius: 100%;
}
.header .header__table{
    font-size: 16px;
}
.header .header__check-orderBtn{
    position: relative;
    padding: 3px;
    background-color: whitesmoke;
    outline: none;
    width: 30px;
    height: 30px;
    border: 0;
    border-radius: 100%;
}
.header .header__check-orderBtn img{
    position: absolute;
    bottom: 2px;
    left: 3px;
    width: 70%;
}

.cartBtn{
    position: absolute;
    bottom: -7vh;
    right: 2vh;
}

.cartBtn__wrapper{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

    width: 40px;
    height: 40px;

    background-color: lightgrey;
    border: solid 1px grey;
    border-radius: 100%;
    padding: 5px;
}
.cartBtn__close{
    width: 100%;
    height: 100%;
    padding: 5px;
    -webkit-animation: fadeIn .2s;
            animation: fadeIn .2s;
}
.cartBtn__icon img{
    padding: 3px;
    width: 100%;
    height: 100%;
    -webkit-animation: fadeIn .2s;
            animation: fadeIn .2s;
}
.header .header__product-amount{
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    font-size: 10px;
}
.preview{
    top: 0;
    display: none;
    position: fixed;
    z-index: 1;
    width: 100%;
    min-height: 45vh;
    background-color:rgba(0,0,0, 0.99);
    -webkit-transform: translateY(-120%);
        -ms-transform: translateY(-120%);
            transform: translateY(-120%);
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
.preview__order{
    height: 40vh;
    overflow: auto;
}
.preview .preview__title{
    margin-top: 20px;

    font-weight: 300;
    font-size: 40px;
    text-align: center;

    color: white;
}
.preview .preview__products{
    padding: 5px;
}
.preview .preview__empty-text{
    margin: 50px 20px 20px 20px;
    font-weight: 100;
    font-size: 20px;
    text-align: center;
    color: white;
}
.preview .preview__product{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;

    color: white;
}

.preview .preview__product-title{
    width: 50%;
}
.preview .preview__product-wrapper{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.preview .preview__final{
    position: absolute;
    bottom: 0;
    width: 100%;

    color: white;
}
.preview .preview__final-wrapper{
    padding: 0 5px;

    display: none;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.preview .preview__final-btn{
    outline: none;

    display: none;
    margin: 0 auto;

    width: 100%;
    height: 40px;

    text-align: center;
    border: whitesmoke 2px solid;
}
.preview .preview__close{
    position: relative;

    padding: 3px;

    background-color: whitesmoke;
    outline: none;
    width: 30px;
    height: 30px;
    border: 0;
    border-radius: 100%;
}
.preview .preview__close-wrapper{
    position: absolute;
    right: 5px;
    bottom: -35px;
    background: none;
    outline: none;
    border: none;
}
.preview .preview__close img{
    width: 70%;
}

.container {
    /* max-width: 950px;
    margin: 0 auto; */
}
.catalog {
    display: none;
    background: white;
    min-height: 100vh;
    padding: 20px 0;
}
.catalog__title {
    font-weight: 300;
    text-align: center;
    font-size: 50px;
    color: black;
    margin-bottom: 25px;

    -webkit-animation: fadeInUp 1s;

            animation: fadeInUp 1s;
}
.catalog__tabs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;

    -webkit-animation: fadeInUp 1s;

            animation: fadeInUp 1s;
}
.catalog__tab {
    cursor: pointer;
    list-style-type: none;

    padding: 10px;
    margin: 10px 30px;

    text-align: center;
    font-weight: 300;
    font-size: 20px;
    color: black;
    border: black 2px solid;

    -webkit-transition: all .5s;

    -o-transition: all .5s;

    transition: all .5s;
}

.catalog__tab.active {
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    background: dimgrey;
    color: white;
}

.catalog__menu {
    padding: 20px 0;
    -webkit-animation: fadeInUp 1s;
            animation: fadeInUp 1s;
}
.product__categories{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.product__category{    
    height: 50vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   

    list-style-type: none;
    cursor: pointer;
    margin: 10px 0;
    padding: 10px 0;
}
.product__category div{
    -webkit-transform: translateY(50%);
        -ms-transform: translateY(50%);
            transform: translateY(50%);

    font-weight: 300;
    text-align: center;
    color: white;
    font-size: 40px;

    background-color: rgba(0,0,0,0.7);
}
.product__container, #resetModal{
    display: none; 
    -ms-flex-wrap: wrap; 
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;

    position: fixed;
    left: 0;
    top: 0;
    z-index: 1; 

    padding: 200px 0 150px 0;

    width: 100%; 
    height: 100%; 
    overflow: auto; 

    background-color: rgba(0,0,0,0.4);

    -webkit-animation: fadeIn .5s;

            animation: fadeIn .5s;
}
.close-product__wrapper{
    position: fixed;
    z-index: 2;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    bottom: 10vh;
    width: 30px;
    height: 30px;
    background-color: rgba(255,255,255, 1);
    border-radius: 100%;
    -webkit-box-shadow: 0 0 5px 5px snow;
            box-shadow: 0 0 5px 5px snow;
}

.close-product {
    text-align: center;
    font-size: 66px;
    font-weight: 100;

    line-height: 0.3;
}
.product{
    position: relative;

    padding: 10px;
        
    width: 100%;

    display: none;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;

    background: rgba(0,0,0, 0.8);
    color:white;
}
.product .product__img img{
    display: block;
    border-radius: 40px;
    margin: 0 auto;
    width: auto;
    height: 200px;
}
.product .product__title{
    margin-top: 10px;

    font-weight: 300;
    font-size: 20px;
    width: 50%;
}
.product .product__records{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-top: 10px;
    font-weight: 300;
    font-size: 20px;
}
.product .product__buttons{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    font-size: 20px;
    font-weight: 300;
}
.product .product__buttons .product__minus, .product .product__buttons .product__plus{
    cursor: pointer;
    outline: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 30px;
    height: 30px;
    margin: 0 5px;

    font-size: 20px;

    background-color: black;
    color: white;

    border-radius: 100%;
}
.timer{
    background-color:white;
    width: 100%;
    height: 100vh;
    padding: 50px 30px;
}
.timer__title{
    margin: 0 auto;
    font-size: 50px;
    color: black;
}
.timer__time{
    margin: 0 auto;
    font-size: 50px;
    color: black;
}

.loginModal{
    display: none; 
    position: fixed; 
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto; 
    
    background-color: rgba(0,0,0,0.4);
}
.loginModal .loginModal__content{
    position: relative;
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    -webkit-animation: fadeIn .5s;
            animation: fadeIn .5s;
}
.loginModal .loginModal__text{
    font-size: 30px;
    font-weight: 100;
    color: black;
    text-align: center;
    margin-bottom: 30px;
}
.loginModal .loginModal__text .error{
    color: red;
    font-weight: 500;
}
.loginModal .loginModal__close {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
}
.loginModal .loginModal__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.loginModal .loginModal__submit{
    outline: none;
    border: none;
    background-color: #212121;
    display: block;
    margin: 0 auto;
    width: 75%;
    height: 40px;
    text-align: center;
    color: white;
    font-weight: 100;
    font-size: 20px;
}
.loginModal .loginModal__group{
    position: relative;
    margin-bottom: 30px;
}
.loginModal .loginModal__mail, .loginModal .loginModal__password{
    font-size: 16px;
    padding: 10px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
}
.loginModal .loginModal__form label {
    color: #999;
    font-size: 18px;
    position: absolute;
    pointer-events: none;
    left: 10px;
    top: 12px;
    -o-transition: 0.2s ease all;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}
.loginModal .loginModal__form input:focus ~ label, .loginModal .loginModal__form input:valid ~ label {
    top: -15px;
    font-size: 14px;
    color: black;
}
.loginModal .loginModal__close{
    color: black;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    bottom: -40px;
    width: 30px;
    height: 30px;
    background-color: rgba(255,255,255, 1);
    border-radius: 100%;
    -webkit-box-shadow: 0 0 5px 5px snow;
            box-shadow: 0 0 5px 5px snow;
}