.order{
    padding: 20px 10px;
}
.order .order__delete{
    position: absolute;
    right: 10px;
    top: 10px;
    font-weight: 900;
}
.order .order__wrapper{
    position: relative;
    margin: 40px auto;
    padding: 10px;
    width: 80%;
    border: black 2px solid;
}
.order .order__table{
    font-size: 20px;
    text-align: center;
}
.order .order__product{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;

    margin: 10px 0;
}
.order .order__title{
    width: 60%;
}