@import "anim.css";

@import "start.css";
@import "header.css";
@import "preview.css";
@import "catalog.css";
@import "timer.css";

@import "finalOrders.css";

* {
    font-family: 'FuturaPT', sans-serif;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: 0;
    
    -webkit-tap-highlight-color: transparent; /*убрать подсветку при тапе*/
}